{% set this_peer = wireguard.peers|selectattr("ip", "==", public_ip.ansible_facts.ipify_public_ip)|first %}
[NetDev]
Name=wg0
Kind=wireguard
Description=WireGuard tunnel wg0

[WireGuard]
# Config Master node {{ this_peer.name }}
# This node's ipv4: {{ this_peer.ip }}

PrivateKey = {{ this_peer.private_key }}
ListenPort = {{ wireguard.listen_port|default(51820) }}

# For every vpn but self
{% for peer in wireguard.peers %}
{% if peer.ip != this_peer.ip %}
 # {{ peer.name }}
[WireGuardPeer]
PublicKey = {{ peer.public_key }}
AllowedIPs = 10.0.0.0/{{ wireguard.mask_bits }}, {{peer.subnet}}
Endpoint = {{ peer.ip }}:{{ wireguard.listen_port }}
{% endif %}
{% endfor %}

PersistentKeepalive = 25