[Match]
Name=wg0

[Network]
Address=wireguard.ip/{{ wireguard_common.mask_bits|default(24) }}

{% for vpnwkr in groups["vpnwkr"] %}
[Route]
{% if inventory_hostname in groups['master']%}
Gateway={{ wireguard.ip }}
Destination={{ hostvars[vpnwkr].network_cidr }}
{% else %}
Gateway={{ hostvars[vpnwkr].wireguard.ip }}
Destination={{ hostvars["master"].network_cidr }}
{% endif %}
{% endfor %}