#cloud-config
{% set cloud_identifier = item.cloud_identifier %}

bootcmd:
  - /usr/bin/ip route add 10.0.0.0/24 via {{ hostvars[item].private_v4 }} dev ens3
{% for cluster_cidr in cluster_cidrs %}
{% if cluster_cidr.cloud_identifier != hostvars[item].cloud_identifier %}
  - /usr/bin/ip route add {{ cluster_cidr.provider_cidrs }} via {{ hostvars[item].private_v4 }} dev ens3
{% endif %}
{% endfor %}