# Master node
{{ ansible_default_ipv4.address }} {{ ansible_hostname }}
{% for cloud in instances.keys() if cloud != "master" %}
# VPN worker for {{cloud}}
{% if "vpnwkr" in instances[cloud].keys() %}
{{ instances[cloud].vpnwkr.private_v4 }} {{ instances[cloud].vpnwkr.name }}
{% endif %}
{% endfor %}