{
  "private": true,
  "dependencies": {
    "@theia/callhierarchy": "{{ theia_version }}",
    "@theia/file-search": "{{ theia_version }}",
    "@theia/git": "{{ theia_version }}",
    "@theia/json": "{{ theia_version }}",
    "@theia/markers": "{{ theia_version }}",
    "@theia/messages": "{{ theia_version }}",
    "@theia/mini-browser": "{{ theia_version }}",
    "@theia/navigator": "{{ theia_version }}",
    "@theia/outline-view": "{{ theia_version }}",
    "@theia/plugin-ext-vscode": "{{ theia_version }}",
    "@theia/preferences": "{{ theia_version }}",
    "@theia/preview": "{{ theia_version }}",
    "@theia/search-in-workspace": "{{ theia_version }}",
    "@theia/terminal": "{{ theia_version }}"
  },
  "devDependencies": {
    "@theia/cli": "{{ theia_version }}"
  },
  "scripts": {
    "prepare": "yarn run clean && yarn build && yarn run download:plugins",
    "clean": "theia clean",
    "build": "theia build --mode development",
    "start": "theia start --plugins=local-dir:plugins",
    "download:plugins": "theia download:plugins"
  },
  "theiaPluginsDir": "plugins",
  "theiaPlugins": {
    "vscode-builtin-css": "https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/css-1.39.1-prel.vsix",
    "vscode-builtin-html": "https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/html-1.39.1-prel.vsix",
    "vscode-builtin-javascript": "https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/javascript-1.39.1-prel.vsix",
    "vscode-builtin-json": "https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/json-1.39.1-prel.vsix",
    "vscode-builtin-markdown": "https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/markdown-1.39.1-prel.vsix",
    "vscode-builtin-npm": "https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/npm-1.39.1-prel.vsix",
    "vscode-builtin-scss": "https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/scss-1.39.1-prel.vsix",
    "vscode-builtin-typescript": "https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/typescript-1.39.1-prel.vsix",
    "vscode-builtin-typescript-language-features": "https://github.com/theia-ide/vscode-builtin-extensions/releases/download/v1.39.1-prel/typescript-language-features-1.39.1-prel.vsix"
  }
}