{
  "private": true,
  "dependencies": {
    "@theia/callhierarchy": "{{ theia_version }}",
    "@theia/file-search": "{{ theia_version }}",
    "@theia/git": "{{ theia_version }}",
    "@theia/markers": "{{ theia_version }}",
    "@theia/messages": "{{ theia_version }}",
    "@theia/mini-browser": "{{ theia_version }}",
    "@theia/navigator": "{{ theia_version }}",
    "@theia/outline-view": "{{ theia_version }}",
    "@theia/plugin-ext-vscode": "{{ theia_version }}",
    "@theia/preferences": "{{ theia_version }}",
    "@theia/preview": "{{ theia_version }}",
    "@theia/search-in-workspace": "{{ theia_version }}",
    "@theia/terminal": "{{ theia_version }}"
  },
  "devDependencies": {
    "@theia/cli": "{{ theia_version }}"
  }
}