- name: Nfs-server
  systemd:
    name: nfs-kernel-server
    state: restarted

- name: Docker
  systemd:
    name: docker
    state: restarted

- name: Munge
  systemd:
    name: munge
    state: restarted

- name: Slurmdbd
  systemd:
    name: slurmdbd
    state: restarted

- name: Slurmrestd
  systemd:
    name: slurmrestd
    state: restarted
    daemon_reload: true

- name: Slurmctld
  systemd:
    name: slurmctld
    state: restarted
  when: "'master' in group_names"

- name: Slurmd
  systemd:
    name: slurmd
    state: restarted

- name: zabbix-agent2
  systemd:
    name: zabbix-agent2
    state: restarted

- name: Zabbix-server
  systemd:
    name: Zabbix-server
    state: restarted

- name: Apache2
  systemd:
    name: apache2
    state: restarted

- name: Systemd-networkd restart
  service:
    name: systemd-networkd
    state: restarted
    enabled: true
  become: true

- name: Reload wireguard configuration
  when: "'wg0' in ansible_interfaces"
  become: true
  shell:
    cmd: "bash -c 'wg syncconf wg0 <(wg-quick strip wg0)'"

- name: Dnsmasq
  systemd:
    name: dnsmasq
    state: restarted

- name: Netplan apply
  command: netplan apply
