[Match]
Name=wg0

[Network]
Address={{ wireguard.ip }}/{{ wireguard_common.mask_bits|default(24) }}

{% for vpngtw in groups["vpngtw"] %}
{% if inventory_hostname in groups['master']%}
{% for network_cidr in hostvars[vpngtw].network_cidrs %}
[Route]
Gateway={{ wireguard.ip }}
Destination={{ network_cidr }}
{% endfor %}
{% else %}
{% for network_cidr in hostvars[groups.master.0].network_cidrs %}
[Route]
Gateway={{ hostvars[vpngtw].wireguard.ip }}
Destination={{ network_cidr }}
{% endfor %}
{% endif %}
{% endfor %}