# GRES CONFIG
{% set ns = namespace(device_index=0) %}
{% for gres in flavor.gres %}
{% for i in range(gres.count | int) %}
Name={{ gres.name }} Type={{ gres.type }} File=/dev/nvidia{{ ns.device_index }}
{% set ns.device_index = ns.device_index + 1 %}
{% endfor %}
{% endfor %}