version: '3'
services:
  zdb:
    image: mariadb
    networks:
      znet:
        ipv4_address: {{ zabbix.docker.zdb }}
    environment:
      MYSQL_USER: 'zabbix'
      MYSQL_PASSWORD: '{{ zabbix.db_zabbix_password }}'
      MYSQL_DATABASE: 'zabbix'
      MYSQL_ROOT_PASSWORD: '{{ zabbix.db_root_password }}'

    volumes:
      - /opt/zabbix/db-data:/var/lib/mysql

  zserver:
    image: zabbix/zabbix-server-mysql:alpine-4.0-latest
    depends_on:
      - zdb
    networks:
      znet:
        ipv4_address: {{ zabbix.docker.zserver }}
    environment:
      DB_SERVER_HOST: 'zdb'
      MYSQL_USER: 'zabbix'
      MYSQL_PASSWORD: '{{ zabbix.db_zabbix_password }}'
      MYSQL_DATABASE: 'zabbix'
      MYSQL_ROOT_PASSWORD: '{{ zabbix.db_root_password }}'
    ports:
      - {{ master.ip }}:10051:10051

    volumes:
      - ./zabbix_server.conf:/etc/zabbix/zabbix_server.conf

  zweb:
    image: zabbix/zabbix-web-nginx-mysql:alpine-4.0-latest
    depends_on:
      - zserver
    networks:
      znet:
        ipv4_address: {{zabbix.docker.zweb }}
    environment:
      DB_SERVER_HOST: 'db'
      MYSQL_USER: 'zabbix'
      MYSQL_PASSWORD: '{{ zabbix.db_zabbix_password }}'
      MYSQL_DATABASE: 'zabbix'
      ZBX_SERVER_HOST: 'zserver'
      PHP_TZ: 'Europe/Berlin'

    ports:
      - {{ master.ip }}:80:80


networks:
  znet:
    ipam:
      driver: default
      config:
        - subnet: {{ zabbix.docker.subnet }}
