AlertScriptsPath=/usr/lib/zabbix/alertscripts
CacheSize=32M
DBHost=zdb
DBName=zabbix
DBPassword={{ zabbix.db_zabbix_password }}
DBPort=3306
DBUser=zabbix
ExternalScripts=/usr/lib/zabbix/externalscripts
Fping6Location=/usr/bin/fping6
FpingLocation=/usr/bin/fping
LoadModulePath=/var/lib/zabbix/modules/
LogType=console
SSHKeyLocation=/var/lib/zabbix/ssh_keys
SSLCALocation=/var/lib/zabbix/ssl/ssl_ca/
SSLCertLocation=/var/lib/zabbix/ssl/certs/
SSLKeyLocation=/var/lib/zabbix/ssl/keys/
StartDiscoverers=10
StartPingers=10
StartPollers=4
StartPollersUnreachable=10
Timeout=30
