- name: Install packages
  apt:
    name: ["python3", "make", "g++", "curl", "git", "pkg-config", "libsecret-1-dev"]
  when: ansible_distribution_file_variety == 'Debian'

- name: Install packages
  yum:
    name: ["python3", "curl", "git", "make", "gcc", "gcc-c++"]
  when: ansible_distribution_file_variety == 'RedHat'

- name: Create NVM install dir
  file:
    path: "{{ nvm_install_dir }}"
    state: directory
    mode: "0o755"

- name: Set fact 'theia_ide_user' when not defined
  set_fact:
    theia_ide_user: "{{ ansible_env.SUDO_USER }}"
  when: theia_ide_user is not defined

- when: ide_conf.workspace is defined and ide_conf.workspace != "${HOME}"
  block:
    - name: Check if given workspace exists
      stat:
        path: "{{ ide_conf.workspace }}"
      register: workspace_path

    - name: Set fact 'theia_ide_workspace' when defined workspace exists
      set_fact:
        theia_ide_workspace: "{{ ide_conf.workspace }}"
      when: workspace_path.stat.exists and workspace.stat.isDir


- name: Set fact 'theia_ide_workspace' to '${HOME}' when not defined
  set_fact:
    theia_ide_workspace: "${HOME}"
  when: theia_ide_conf.workspace is not defined

- name: Install nvm
  shell: |
    set -o pipefail && curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.39.1/install.sh | NVM_DIR={{ nvm_install_dir }} /bin/bash
  args:
    creates: "{{ nvm_install_dir }}/nvm.sh"
    executable: bash
  tags:
    - skip_ansible_lint

- name: Install node 16 and yarn
  shell: |
    source {{ nvm_install_dir }}/nvm.sh
    nvm install 16
    npm install -g yarn
  args:
    executable: bash
  tags:
    - skip_ansible_lint
  changed_when: false

- when: not ide_conf.build
  block:
    - name: Install prebuild theia
      shell: |
        curl -o- https://bibiserv.cebitec.uni-bielefeld.de/resources/bibigrid/plugins/theia-ide_node16.tar.gz | tar -xzf -
      args:
        chdir: "/opt"
        creates: "{{ theia_ide_install_dir }}"
      tags:
        - skip_ansible_lint

- when: ide_conf.build|default(false)|bool
  block:
    - name: Create IDE build dir
      file:
        path: "{{ theia_ide_install_dir }}"
        state: directory
        mode: "0o755"

    - name: Copy IDE configuration to IDE build dir
      template:
        src: theia/package.json.j2
        dest: "{{ theia_ide_install_dir }}/package.json"
        mode: "0o644"

    - name: Build ide
      shell: |
            source {{ nvm_install_dir }}/nvm.sh
            yarn
            yarn theia build
      args:
        chdir: "{{ theia_ide_install_dir }}"
        executable: bash
      tags:
        - skip_ansible_lint

- name: Generate IDE start skript to /usr/local/bin
  template:
    src: theia/theia-ide.sh.j2
    dest: "{{ theia_ide_install_dir }}/theia-ide.sh"
    mode: "0o755"

- name: Generate systemd service
  template:
    src: theia/theia-ide.service.j2
    dest: /etc/systemd/system/theia-ide.service
    mode: "0o644"

- name: Enable and Start service
  systemd:
    name: theia-ide.service
    enabled: true
    state: started
