[Match]
Name={{ ansible_default_ipv4.interface }}

[Route]
Destination=10.0.0.0/{{ wireguard_common.mask_bits|default(24) }}
Gateway={{ gateway_ip }}
Metric=5
GatewayOnLink=True

{% for peer in wireguard_common.peers %}
{% if peer.subnet != (ansible_default_ipv4.network + '/' + ansible_default_ipv4.netmask) | ipaddr('network/prefix') %}
[Route]
Destination={{ peer.subnet }}
Gateway={{ gateway_ip }}
Metric=5
GatewayOnLink=True
{% endif %}
{% endfor %}