<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
    <appender name="stdout-err" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%highlight(%-5level): %msg [%logger{0}:%L]%n</pattern>
            <!-- http://logback.qos.ch/manual/layouts.html -->
        </encoder>
    </appender>
    
    <appender name="stdout-warn" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="de.unibi.cebitec.bibigrid.core.util.VerboseOutputFilter" />
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%yellow(%-5level): %msg %n</pattern>
            <!-- http://logback.qos.ch/manual/layouts.html -->
        </encoder>
    </appender>
    
    <appender name="stdout-info" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="de.unibi.cebitec.bibigrid.core.util.VerboseOutputFilter" />
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%highlight(Ok ): %msg%n</pattern>
            <!-- http://logback.qos.ch/manual/layouts.html -->
        </encoder>
    </appender>

    <appender name="stdout-debug" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%-5level: %msg [%logger{0}:%L]%n</pattern>
            <!-- http://logback.qos.ch/manual/layouts.html -->
        </encoder>
    </appender>

    <appender name="stdout-info2" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="de.unibi.cebitec.bibigrid.core.util.ImportantInfoOutputFilter" />
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%boldGreen(SUCCESS: %msg) %n</pattern>
            <!-- http://logback.qos.ch/manual/layouts.html -->
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>tests.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE"/>
        <appender-ref ref="stdout-err"/>
        <appender-ref ref="stdout-warn"/>
        <appender-ref ref="stdout-info"/>
        <appender-ref ref="stdout-info2"/>
    </root>

</configuration>
