Server={{ master.ip }}
ServerActive={{ master.ip }}

HostnameItem=system.hostname
HostMetadata={{ zabbix.metadata }}


PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0