- name: Install cloud9 dependencies
  apt:
    name: ["build-essential","python"]
    state: "present"

- name: Install cloud9 nodejs-legacy
  apt:
    name: "nodejs-legacy"
    state: "present"
  when: ansible_distribution != 'Ubuntu' or ansible_distribution_version is version('17', '<')

- name: Install cloud9 nodejs
  apt:
    name: "nodejs"
    state: "present"
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_version is version('17', '>=')



- name: Clone c9/core repository
  git:
    repo: git://github.com/c9/core.git
    dest: /opt/c9sdk
  become_user: ubuntu

# change/update  permissions

- name: Install c9/core
  shell: |-
    cd /opt/c9sdk
    scripts/install-sdk.sh
  become_user: ubuntu

- name: Create cloud9 startup script
  copy:
    content: |-
      #!/bin/bash
      cd /opt/c9sdk
      node server.js $@
    dest: /usr/local/bin/cloud9
    owner: root
    group: root
    mode: 0755

- name: Copy cloud9 service
  copy:
    src: cloud9/cloud9service
    dest: /etc/init.d/cloud9service
    mode: 0755
    owner: root
    group: root

- name: Create cloud9 settings folder
  file:
    path: /etc/cloud9
    owner: root
    group: root
    state: directory

- name: Add default cloud9 settings file
  copy:
    content: |-
      workingDir="{{ ide_workspace }}"
    dest: /etc/cloud9/settings.conf
    owner: root
    group: root
    mode: 0755

- name: Register cloud9 service
  command: systemctl daemon-reload

- name: Enable and Start service
  systemd:
    name: cloud9service.service
    enabled: true
    state: started