name: Publish DEV Docker
on: 
  push:
    branches: 
      - 'development'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: '11.0.5'
    - name: Build mvn bibigrid
      run: |
          mvn -P openstack clean install -DskipTests
    - name: Build rest api mvn
      run: |
          cd bibigrid-light-rest-4j/
          mvn clean install -Prelease -DskipTests
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: bibiserv/bibigrid
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile:  Dockerfile
        workdir: bibigrid-light-rest-4j
        tags: dev
